#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    background-color: var(--bg-color);
    height: 100vh;
    aspect-ratio: 900/450;
    width: 100vw;
    padding-top: 5em;
    overflow: hidden;
}
.inner-project-content {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
