#contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
    color: var(--font-color);
    background-color: var(--primary-color);
    height: var(--section-height);
    width: 100%;
    overflow-x: hidden;
}

.icon-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 5px;
}

.cv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv p {
    font-weight: bolder;
}

.icons {
    width: 4em;
    height: 4em;
}
.contact-inner-content {
    height: 80vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
