.intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color);
    background-image: url(./wave2.svg);
    height: 100vh;
    aspect-ratio: 900/450;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-top: 15rem;
    color: var(--font-color);
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
}
.tagline {
    text-align: start;
}
.arrow-cta {
    margin-top: 5em;
    align-self: center;
    width: 0;
    height: 0;
    border-left: 5em solid transparent;
    border-right: 5em solid transparent;
    border-top: 5em solid var(--font-color);
    animation: bounce 2s infinite linear;
}
@keyframes bounce {
    20%,
    50%,
    80%,
    to {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    70% {
        transform: translateY(-15px);
    }
    90% {
        transform: translateY(-4px);
    }
}
