.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    top: 0em;
    height: 8em;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--font-color);
    z-index: 1;
    padding-right: 10%;
}
.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    gap: 33%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .navbar {
        justify-content: space-around;
        /* align-items: center; */
        /* padding-right: 0; */
    }
}
.navbar ul li a h3:hover {
    color: var(--primary-color);
}
