.navbar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: sticky;
    top: 0;
    height: 8em;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--font-color);
    z-index: 1;
}
.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin-right: 5em;
}
