.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: sticky;
    top: 0em;
    height: 8em;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--font-color);
    z-index: 1;
    padding-right: 5%;
}
.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    gap: 5em;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .navbar {
        justify-content: center;
    }
}
