* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit;
}
:root {
    --font-color: bisque;
    --bg-color: #022b40;
    --primary-color: #0dd3cd;
    --secondary-color: #6600ff;
}
.App {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
h1 {
    font-size: 10em;
}
h2 {
    font-size: 3em;
}
.wrapper {
    margin-top: -8em;
}
