#about {
    /* color: var(--font-color); */

    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    background-color: var(--primary-color);
    height: var(--section-height);
    /* aspect-ratio: 900/450; */
    width: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
.inner-content {
    padding-top: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    position: relative;
    font-weight: bold;
    font-size: 80%;
}
.about-me {
    flex-shrink: 3;
}
.bit-about-me {
    white-space: nowrap;
    scale: 0.5;
}
.tech-stack {
    width: 100px;
    height: 40px;
    background-color: blueviolet;
}
@media only screen and (min-width: 768px) {
    /* larger than mobile */
    .inner-content {
        width: 50%;
        font-size: 90%;
    }
}
