.card-display {
    display: flex;
    flex-direction: row;
    row-gap: 1em;
    justify-content: space-around;
    margin-left: 0.5em;
    margin-right: 0.5em;
    flex-wrap: wrap;
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.1em;
    border-radius: 5px;
    width: 30vw;
    background-color: var(--primary-color);
}
.cards:hover {
    transform: scale(1.02);
}

.card-images {
    /* padding-top: 0.5em; */
    margin-top: 0.5em;
    border-radius: 5px;
    height: 90%;
    width: 90%;
    box-shadow: 18px 16px 23px -8px rgba(0, 0, 0, 0.61);
}
@media only screen and (min-width: 600px) {
    /* larger than wide mobile */
    .card-display {
        gap: 1.5em;
    }
    .cards {
        width: 20vw;
    }
}

@media only screen and (min-width: 900px) {
    /* even larger than wide mobile */
    .cards {
        width: 11em;
    }
}
